.container{
    margin: 0px 8px 0px 8px;
    /* margin: auto; */
    text-align: center;
}
.redeemListContainer{
    margin: 40px 8px 0px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

@media screen and (min-width:320px) and (max-width:600px) {
    


}