.tabLink{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    /* font-family: arial, sans-serif; */
    /*input has OS specific font-family*/
    text-decoration: underline;
    cursor: pointer;
}

.tabNotSelected{
    color: #1A1A1A;
}

@media screen and (min-width:320px) and (max-width:600px) {
    .container{
        width: 100%;
        text-align: center;
        margin: 0px 0px 0px 0px;
        margin: auto;
        padding: 0px 0vw 0px 0vw;
        /* border: 2px solid red; */
        
    }

    .tabContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        max-width: 600px;
        margin: 40px 0vw 0px 0vw;
        padding: 0px 0px 0px 0px;
         /* border: 2px solid red; */
        
        
    }
    .tabLink{
        font-size: 21px;
    }

    .mainContentContainer{
        margin: 40px 5vw 0px 5vw;
    }
    
}