
.container{
    text-align: center;
    width: 100%;
    max-width: 420px;
    
}

.header{
    color: #1A1A1A;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.points{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.footer{
    color: #1A1A1A;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

@media screen and (min-width:320px) and (max-width:599px) {
    .containerAdds{
        margin: 16px 0px 0px 0px;
    }
}

@media screen and (min-width:600px) {
    .containerAdds{
        margin: 16px 0px 0px 0px;
    }
}