.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    max-height: 350px;
    text-align: center;
    vertical-align: middle;
}

.imageContainer{
    max-height: 320px;
}

.textContainer h4{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

@media screen and (min-width:320px) and (max-width:600px){
    .container{
        margin: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .cardContainer{
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:8px;
        overflow:scroll;
    }
    .title{
        text-align: center;
    }

    .imageContainer{
        text-align: center;
    }

    
    .textContainer{
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .textContainer h4{
        text-align: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}