

@media screen and (min-width:320px) and (max-width:400px){
    .container{
        margin: 32px 16px 32px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .cardContainer{
        /* border:1px solid red; */
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:8px;
        overflow:scroll;
    }
    .title{
        text-align: center;
    }

    .imageContainer{
        width: 120px;
        height: 120px;
    }

    .imageContainer{
        /* border: 1px solid red; */
        height: 100%;
        text-align: center;
    }

    .textContainer{
        /* border: 1px solid red; */
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .textContainer h4{
        text-align: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}