.container{
    width: 100%;
    background-color: var(--loyalty-section-portal-background);
    margin-top: 32px;
    padding: 32px 0px 32px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
    
}
.cardContainer{
    max-height: 350px;
    text-align: center;
}
.iconStep{
    font-size: 56px;
}

@media screen and (min-width:320px) and (max-width:600px) {
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}