.container{
    margin: auto;
    text-align: center;
    
}
.container ul{
    max-width: 100%;
    margin: 16px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container ul li{
    display: block;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
}
.container ul li:hover{
    color:darkgray;
}

.container ul li h5{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
}




.headline{
    width: 100%;
    max-width: 800px;
    min-height:500px;
    color:white;
    border:8px solid white;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    box-shadow: var(--loyalty-light-shadow);
    text-align: center;
    padding:0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.insideContent{
    position: absolute;
    top:0vw;
    left: 2vw;
    text-align: center;
    color: white;
}

.imageContainer{
    width: 100%;
    height: 100px;
    max-height: 100px;
    max-width: 300px;
    
}

.registerButtonContainer{
   cursor: pointer;    
        
}


@media screen and (min-width:320px) and (max-width:600px){
    .container{
        margin: 0px 0px 0px 0px;
        max-width: 420px;
        
    }

    .topLinks{
        font-size: 15px;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        
    }
    .title{
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        font-size: 35px;
    }
    .headline{
        margin: 0px 0px 0px 0px;
        padding: 0px;
        height: auto;
    }
    .forText{
        padding: 1rem;
    }
    .headline h4{
        line-height: 1.5;
        height: 100%;
        font-size: 18px;
    }
    
    .container ul{
        flex-direction: row;
        padding: 0px 0px 0px 0px;
        margin: 0px 8px 0px 8px;
    }

    
}
@media screen and (min-width:400px) and (max-width:600px) {
    .container{
        margin: 0px 16px 0px 16px;
        
    }
    .topLinks{
        font-size: 17px;
        
    }
    .title{
        margin: 24px 0px 0px 0px;
        font-size: 40px;
    }
    .headline{
        margin: 24px 0px 0px 0px;
        padding: 0px 8px 0px 8px;
        height: auto;
        
    }
    .headline h5{
        line-height: 1.4;
        font-size: 24px;
        height: 100%;
        
    }
    
}

@media screen and (min-width:600px) {
    .container{
        margin: 0px 16px 0px 16px;
    }
    .headline{
        margin: 0px 0px 0px 0px;
        gap: 16px;
        
    }
    .headline h5{
        margin: 0px 0px;
        line-height: 1.2;
        font-size: 28px;
    }

    .registerButtonContainer{

        margin: 32px 0px 0px 0px;
    }
}

@media screen and (min-width:800px) {
    .container{
        margin: auto;
    }
    
    .headline{
        min-height: 700px;
        gap: 16px;
        padding: 2rem;
        
    }
    
}